BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 1
TabWidth: 4
UseTab: Never